<div class="row">
   <div class="col-lg-9">
      <app-car></app-car>
   </div>
   
   
   <div class="col-lg-3">
     
      <div class="list-group rounded-0 mt-4">
         <div class="list-group-item fw-bold" style="background-color: #DDD">
            <i class="bi-card-list"></i> {{ title }}
            <div>
               <input type="text" [(ngModel)]="filterText" class="form-control"
               placeholder="Marka ara">
               <div class="col">
                  {{filterText}}
               </div>
            </div>
         </div>

         <button routerLink="/brands" (click)="resetCurrentBrandId()" class="{{ listAllBrandCss }}"
                 style="background-color: #EEE">
            Tümünü Listele
         </button>

         <a *ngFor="let brand of brands | filterBrand:filterText" routerLink="/brands/{{ brand.brandId }}"
                 (click)="setCurrentBrand(brand.brandId)" [class]="getCurrentBrandClass(brand.brandId)">
            {{ brand.brandName }}
         </a>
      </div>
   </div>
</div>
