<!-- Footer -->
<footer *ngIf="whichPageControl()" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Haberleri kaçırmamak için üye ol!</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email adresiniz..</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Abone Ol
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <h3 class="text-uppercase">Sayfalar</h3>
          <div class="col mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="/home-page" class="text-white">Ana Sayfa</a>
              </li>
              <li>
                <a href="/brands" class="text-white">Markalar</a>
              </li>
              <li>
                <a href="/cars" class="text-white">Araçlar</a>
              </li>
              <li>
                <a href="/colors" class="text-white">Renkler</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-white" href="https://www.instagram.com/sky._.cry/">Muhammed Koçak</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->