<div class="row">
    <div class="col-lg-12">
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th scope="col">Arabalar</th>
                    <th scope="col">Car Id</th>
                    <th scope="col">Marka</th>
                    <th scope="col">Renk</th>
                    <th scope="col">Model Yılı</th>
                    <th scope="col">Günlük Ücreti</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Kiralanabilir durumda mı?</th>
                    <th scope="col">Findeks Puanı</th>
                </tr>
            </thead>
            <tbody *ngFor="let car of cars">
                <tr>
                    <th scope="row"></th>
                    <td>{{ car.carId }}</td>
                    <td>{{ car.brandName }}</td>
                    <td>{{ car.colorName }}</td>
                    <td>{{ car.modelYear }}</td>
                    <td>{{ car.dailyPrice  }}</td>
                    <td>{{ car.description }}</td>
                    <td>{{ car.status }}</td>
                    <td>{{ car.minFindeksScore }}</td>&nbsp;&nbsp;
                    <button routerLink="/admin-dashboard/cars/{{ car.carId }}" type="button" class="btn btn-warning">Düzenle Veya Sil</button>
                </tr>
                <br>
            </tbody>
        </table>
    </div>
</div>