<table class="table" routerLink="rental/details">
    <thead>
      <tr>
        <th scope="col table-dark">Araç Kiralama</th>
        <th scope="col">Marka</th>
        <th scope="col">İsim</th>
        <th scope="col">Soy İsim</th>
        <th scope="col">Kiralanma Tarihi</th>
        <th scope="col">Kira Bitiş Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rentalDto of rentalDtos">
        <th scope="row"></th>
        <td>{{rentalDto.brandName}}</td>
        <td>{{rentalDto.firstName}}</td>
        <td>{{rentalDto.lastName}}</td>
        <td>{{rentalDto.rentDate}}</td>
        <td>{{rentalDto.returnDate}} </td>
      </tr>
    </tbody>
  </table>
  