<body class="text-center" style="padding: 250px;">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active">HOŞ GELDİN!</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">SENİ ARAMIZDA GÖRMEKTEN MUTLULUK DUYDUK!</h1>
        <p class="lead">Hemen araç kiralamak için <a routerLink="/cars">sayfaya</a> git</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Daha Fazlası</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>by </p><a class="text-white" href="https://www.instagram.com/sky._.cry/">Muhammed Koçak</a>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>