<br>
<div class="container" style="padding: 175px;">
   <table class="table table-dark table-striped">
      <thead>
      <tr>
         <th class="table-primary"></th>
         <th class="table-primary">Müşteri</th>
         <th class="table-primary">E-Posta</th>
         <th class="table-primary">Şirket</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
         <th scope="row" class="text-center"></th>
         <td class="table-dark">{{ customer.firstName }} {{ customer.lastName }}</td>
         <td class="table-dark">{{ customer.email }}</td>
         <td class="table-dark">{{ customer.companyName }}</td>
      </tr>
      </tbody>
   </table>
</div>