<div class="row mb-2" style="place-content: center;">
    <div class="col-9">
        <div class="badge bg-primary text-wrap " style="width: 6rem;">
            <b>Marka</b>
        </div>
        <select [(ngModel)]="brandFilter" class="form-select">
            <option *ngFor="let brand of brands" [value]="brand.brandId" selected="{{getSelectedBrand(brand.brandId)}}">
                {{brand.brandName}}</option>
        </select>
        <br>
        <div class="badge bg-primary text-wrap " style="width: 6rem;">
            <b>Renk</b>
        </div>
        <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
            <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">
                {{color.colorName}}</option>
        </select>

        <br>
        <a routerLink="/cars/filter/{{brandFilter}}/{{colorFilter}}" class="btn btn-info" style="width: 100%;">Filtrele</a>
        <br>
        <br>
        <a routerLink="/cars" class="btn btn-warning" style="width: 100%;">Temizle</a>
        <br>
    </div>
</div>